<h1>Admin Dashboard</h1>

<ul>
    
    {% if donors %}
        
        {% for donor in donors %}
            <li>
                <a href="{{ donor.donors_url }}" target="_blank">{{ donor.name }} (
                {% if donor.rfps %}
                    {{ donor.rfps.count }}
                {% endif %}
                    ) </a> &mdash; <span>DF Funded: 
                    {% if donor.df_funded %}
                        "Yes"
                    {% else %}
                        "No"
                    {% endif %}
                         </span> 
                         | <a href="{% url 'create-rfp' donor.id %}">Create RFP</a>
            </li>
        {% endfor %}
            
    {% else %}
        <p>There are no donors in the database</p>
    {% endif %}
        
</ul>

<p>
    <a href="{% url 'logout' %}">Log Out</a> | <a href="{% url 'add-donor' %}">Add Donor</a> 
</p>